<ng-container *ngIf="loaded">
  <fieldset>
    <input type="text" [(ngModel)]="newClub.name" placeholder="Enter club name">
    <input type="text" [(ngModel)]="newClub.points" placeholder="Enter club points">
    <button (click)="CreateClub()">Create</button>
  </fieldset>
  <div *ngIf="loaded">
    <ul class="albums-list">
      <li *ngFor="let club of clubs">
        <div class="albums__container">
          <h3 [routerLink]="['/clubs/', club.id,'matches']" >{{ club.id }}</h3>

          <h3 [routerLink]="['/clubs/', club.id,'matches']" >{{ club.points }}</h3>

          <h3 [routerLink]="['/clubs/', club.id,'matches']" >{{ club.name }}</h3>

          <button (click)="DeleteClub(club.id)" class="delete-button">Delete</button>
        </div>
      </li>
    </ul>
  </div>

  <p *ngIf="!loaded" class="loading-message">
    LOADING...
  </p>
</ng-container>

