<ul>
  <li>
    <a [routerLink]="['/home']">Home</a>
    <button (click)="logout()">Logout</button>

  </li>
</ul>
<ng-container *ngIf="localStorage.getItem('access')">
  <ul>
    <li>
      <a [routerLink]="['/user_detail']">Profile</a>

    </li>
  </ul>
  <router-outlet></router-outlet>
</ng-container>

<ng-container *ngIf="!localStorage.getItem('access')">
  <h3>Login</h3>

  <fieldset>
    <label for="email">email</label>
    <input type="text"  id="email" [(ngModel)]="email">
  </fieldset>
  <fieldset>
    <label for="password">Password</label>
    <input type="password"  id="password" [(ngModel)]="password">
  </fieldset>
  <button (click)="login()">login</button>
  <h3>Or Reqister</h3>
  <fieldset>
    <label for="name">name</label>
    <input type="text"  id="name" [(ngModel)]="name">
  </fieldset>
  <fieldset>
    <label for="passwordr">Password</label>
    <input type="password"  id="passwordr" [(ngModel)]="password">
  </fieldset>
  <fieldset>
    <label for="emailr">email</label>
    <input type="text"  id="emailr" [(ngModel)]="email">
  </fieldset>
  <fieldset>
    <label for="balance">Balance</label>
    <input type="number"  id="balance" [(ngModel)]="balance">
  </fieldset>
  <button (click)="reqister()">reqister</button>

</ng-container>
